body{
    background-color: black;
}

.postcard{
    height: 300px;
    width: 400px;
    background-color: white;
    margin:auto;
}
.postcard-header{
    display: flex;
}
.postcard-header h1{
    width: 400px;
    
}